* {
    /* border: 1px solid pink;*/
     box-sizing: border-box;
     font-family: 'Open Sans';
     margin:0;
     padding:0;
     /* border: 1px solid black; */
   }
  
   body {
       display: grid;
   }
   header {
    background-color: #1f1f3d;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 60px;
  }
  .head-right {
    align-items: right;  
    display: inline-block;
    margin: 5px 20px;
      
  }
  .title-yellow-text {
    color: #FFC303;
  }
  .search-form {
    float: right;
    height: 35px;
    margin-top: 5px;
    width: 200px;
  }
  #search-input{
      height: 35px;
      margin: 0px 0px 10px 0px;
      width: 80%;
  }
  .search-button {
    height: 35px;
      width: 35px;
  }
  .search-img {
    background-color: #587a8b;
    border: none;
    /* margin-top: 10px; */
    width: 98%;
  
  }
   main {
    display: grid;
    grid-template-columns: 30% 65%;
    border: 1px solid black; 
   }
  
   h1 {
     color: #FFF;
     font-weight: ExtraBold;
     font-size: 28px;
     margin: 10px 10px 0px 10px;
   }

   h2 {
    color: #BFBFDD;
    font-size: 12px;
    font-weight: light;
    height: 20px;
    margin: 10px 10px;
  }
  .section-left {
    background-color: #587a8b;  
    height: 600px;
  }

  .add-task-card {
    border: 1px solid #3c6577;
    display: inline;
  }
  .add-task-card input {
    height: 40px;
    width: 90%;
  }
  .input-labels label {
    color: #FFFFFF;
  	display: block;
	  font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
  } 
  .input-title {
      height: 40px;
      width: 90%;
    margin: auto;
  }
  .list-entry {
    display: inline;
  }
  .task-content {
    width: 80%;
  }
  .checkbox-img {
    float: left;
    margin: 7px 10px;
    width: 20px;
  }
  p.task-content {
    color: #FFFFFF;
    height: 25px;
    margin-left: 40px;
    /* text-align: center; */
    /* padding-top: .3em; */
  }
  /* .input-task-list {
    align: center;
    display: flex;

  } */
  .hidden {
    display: none;
 }
  .btn-input-clear,
  .submit-make-list,
  .btn-filter-urgent {

      border: 1px solid #1F1F3D;
      background-color: #1F1F3D;
      color: #FFFFFF;
      height: 40px;
      margin: 10px 5px 10px 5px;
      width: 90%;
  }
  #input-item{
    float: left;
    width: 80%;
  }
  .btn-add-item {
    height: 40px;
    width: 40px;
    border: 1px solid #1F1F3D;
  }
  .btn-filter-urgent {
      height: 40px;
      background-color: #D14119;
      color: #FFFFFF;
      width: 90%;
  }
  .section-right {
    background-color: #f4f7f8;  
    height: 600px;
  }
  
.section-right {
    display: grid;
    justify-content: center;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 20px 20px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  .card {
    background-color: #FFE89D;
    border: 1px solid #ffc30c;
    min-width: 100px;
    max-height: 300px;
  }
  .card-title-text {
    color: #1F1F3D;
    border-bottom: 1px solid #ffc30c;
  }

  .card img {
    width: 10%
  }
    
  .delete-card-button {
    float: right;
  }

  .card-body-text {
    min-height: 125px;
    font-size: 20px;
  }
  .task-list {
    list-style-type: none;
  }
  .urgent-flash-btn {
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .card-footer h4 {
    text-align: center;
    color: #E9E9F3;
    font-size: 20px;
    margin: auto;
  }
  .card-footer {
    background-color: #5356A4;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 40px;
  }