* {
    /* border: 1px solid pink;*/
     box-sizing: border-box;
     margin:0;
     padding:0;
   }

   body {
    display: grid;
    font-family: 'Open Sans', sans-serif;
   }
   header {
    background-color: #1f1f3d;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
  .head-right {
    align-items: right;  
    display: inline-block;
    margin: 5px 20px;
      
  }
  .title-yellow-text {
    color: #FFC303;
  }
  .search-form {
    height: 35px;
    width: 210px;
    display: flex;
  }
  #search-input{
      height: 35px;
      width: 165px;
      border: 1px solid white;
  }
  .search-container {
    background-color: lightgray;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-img {
    height: 20px;
  }

   main {
    display: grid;
    grid-template-columns: 30% 65%;
    border: 1px solid black; 
   }
  
   h1 {
     color: #FFF;
     font-weight: ExtraBold;
     font-size: 28px;
     margin-left: 10px;
   }

   h2 {
    color: #BFBFDD;
    font-size: 12px;
    font-weight: light;
    height: 20px;
    margin: 10px 10px;
  }
  .section-left {
    background-color: #587a8b;  
    height: 600px;
  }

  .add-task-card {
    display: inline;
  }
  .add-task-card {
    height: 40px;
    width: 100%;
  }
  .input-labels {
    color: #FFFFFF;
	  font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  } 
  .input-title {
      height: 40px;
      width: 90%;
    margin: auto;
  }

  .list-entry {
    display: flex;
    margin-top: 10px;
  }

  .task-content {
    width: 80%;
  }
  .checkbox-img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .input-labels-conent-container {
    width: 100%;
    display: flex;
  }

  .input-labels-task-title-label {
    color: #FFFFFF;
    font-size: 12px;
  }

  p.task-content {
    color: #FFFFFF;
    height: 25px;
    margin-left: 10px;
  }

  .hidden {
    display: none;
 }
  .btn-input-clear,
  .submit-make-list {
      border: 1px solid #1F1F3D;
      background-color: #1F1F3D;
      color: #FFFFFF;
      height: 40px;
      margin: 10px 5px 10px 13px;
      width: 90%;
  }

  .btn-filter-urgent {
    border: 1px solid #1F1F3D;
    background-color: #1F1F3D;
    color: #FFFFFF;
    height: 40px;
    margin: 10px 5px 10px 13px;
    width: 90%;
}

  .input-labels-task-title {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    
  }

  #input-labels-task-title-input {
    height: 40px;
  }

  #input-item{
    width: 82%;
  }
  .btn-add-item {
    height: 40px;
    width: 18%;
    border: 1px solid #1F1F3D;
  } 
  
.section-right {
    column-width: 13em; 
  }

  .card {
    display: inline-block;
    margin-left:  1rem;
    margin-top:  0.5rem;
    margin-bottom:  0.5rem;
    width: 100%;
    background-color: #fafdff;
    border: 2px solid #c7d3d8;
    max-width: 250px;
  }
  .card-title-text {
    color: #1F1F3D;
    border-bottom: 1px solid lightgrey;
    height: 40px;
    padding-left: 10px;
    padding-top: 7px;
    color: #1f1f3d;
    font-weight: 800;
  }

  .delete-card-button {
    float: right;
  }

  .card-body-text {
    min-height: 125px;
    font-size: 20px;
  }

  .card-body {
    height: 100%;
    padding-top: 10px;
  }

  .card-footer-btn-container {
    width: 70px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .task-list {
    list-style-type: none;
  }
  .urgent-flash-btn,
  .delete-card-btn {
    width: 30%;
  }

  .delete-card-btn {
    font-weight: none;
  }

  .card-footer-text {
    font-size: 12px;
  }

  .card-footer h4 {
    text-align: center;
    color: #E9E9F3;
    font-size: 10px;
    margin: auto;
  }
  .card-footer {
    background-color: #f4f7f8;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 60px;
    border-top: 1px solid lightgrey;
    margin-top: 10px;
  }
  .footer-tags {
    align-items: center;
    display: flex;
  }

  @media only screen and (max-width: 666px) {
    .section-right {
      column-width: none; 

    }
    .card {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top:  10px;
      margin-bottom:  0.5rem;
      width: 100%;
      background-color: #fafdff;
      border: 2px solid #c7d3d8;
      max-width: 250px;
    }
    
    main {
      display: flex;
      flex-direction: column;
    }
    header {
      display: flex;
      flex-direction: column;
      height: 100px;
      justify-content: space-around;
    }
}



